<!-- 商品 -->
<div class="goods">
    <div class="nav">
        <ul>
            <li>推荐 <img src="./img/sxpng.png" alt=""></li>
            <li>销量</li>
            <li>新品</li>
            <li>价格<img src="./img/sxpng.png" alt=""></li>
        </ul>
    </div>
    <div class="list">
        <ul>
            <% for(let x of data) {%>
                <li>
                    <img src="<%= x.img1 %>" alt="">
                    <div class="content">
                        <p class="ellipsis-2">
                            <span>热销</span>
                            <%= x.title %>
                        </p>
                        <span>本店<%= x.classfy %>热销第<%= x.ranking %>名</span>
                        <p>¥<i>
                                <%= x.price %>
                            </i>.00 <span>
                                <%= x.reduce %>
                            </span></p>
                        <p>
                            <%= x.evaluate %>+条评价 <span>好评 <%= x.good %>%</span>
                        </p>
                    </div>
                </li>
                <%} %>
        </ul>
    </div>
</div>